node-red/backups/deployed-labos-flow-20260616.json
[{"id":"tab_labos_safe_fixed","type":"tab","label":"LabOS Safe Production Automation","disabled":false,"info":"Safe AI-to-relay automation. Exact vision topics only; no vision feedback loop; Manual/Monitor/Auto modes; five-minute healthy-zero shutdown; relays 1 and 5 never commanded."},{"id":"mosquitto_noauth_no_flicker","type":"mqtt-broker","name":"Local Mosquitto No Auth","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"broker_labos","type":"mqtt-broker","name":"LabOS Mosquitto","broker":"labos","port":"1883","clientid":"nodered_labos_automation","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"lab/automation/status","birthQos":"0","birthPayload":"online","birthMsg":{},"closeTopic":"lab/automation/status","closeQos":"0","closePayload":"offline","closeMsg":{},"willTopic":"lab/automation/status","willQos":"0","willPayload":"offline","willMsg":{}},{"id":"broker_labos_safe_fixed","type":"mqtt-broker","name":"LabOS Mosquitto","broker":"labos","port":"1883","clientid":"nodered_labos_safe_production","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"lab/automation/controller_status","birthQos":"0","birthPayload":"online","birthMsg":{},"closeTopic":"lab/automation/controller_status","closeQos":"0","closePayload":"offline","closeMsg":{},"willTopic":"lab/automation/controller_status","willQos":"0","willPayload":"offline","willMsg":{}},{"id":"in_count_safe_fixed","type":"mqtt in","z":"tab_labos_safe_fixed","name":"Authorized AI Count JSON","topic":"lab/vision/people_count","qos":"0","datatype":"auto-detect","broker":"broker_labos_safe_fixed","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":80,"wires":[["fn_safe_controller_fixed"]]},{"id":"in_status_safe_fixed","type":"mqtt in","z":"tab_labos_safe_fixed","name":"AI Service Status","topic":"lab/vision/status","qos":"0","datatype":"auto-detect","broker":"broker_labos_safe_fixed","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":120,"wires":[["fn_safe_controller_fixed"]]},{"id":"in_source_safe_fixed","type":"mqtt in","z":"tab_labos_safe_fixed","name":"AI Source Status","topic":"lab/vision/source_status","qos":"0","datatype":"auto-detect","broker":"broker_labos_safe_fixed","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":160,"wires":[["fn_safe_controller_fixed"]]},{"id":"in_heartbeat_safe_fixed","type":"mqtt in","z":"tab_labos_safe_fixed","name":"AI Heartbeat","topic":"lab/vision/heartbeat","qos":"0","datatype":"auto-detect","broker":"broker_labos_safe_fixed","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":200,"wires":[["fn_safe_controller_fixed"]]},{"id":"in_mode_safe_fixed","type":"mqtt in","z":"tab_labos_safe_fixed","name":"Retained Automation Mode","topic":"lab/automation/mode","qos":"0","datatype":"auto-detect","broker":"broker_labos_safe_fixed","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":250,"wires":[["fn_safe_controller_fixed"]]},{"id":"in_esp_status_safe_fixed","type":"mqtt in","z":"tab_labos_safe_fixed","name":"ESP Relay Status","topic":"lab/control/status","qos":"0","datatype":"auto-detect","broker":"broker_labos_safe_fixed","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":290,"wires":[["fn_safe_controller_fixed"]]},{"id":"in_relay_state_safe_fixed","type":"mqtt in","z":"tab_labos_safe_fixed","name":"Relay State Feedback","topic":"lab/control/+/state","qos":"0","datatype":"auto-detect","broker":"broker_labos_safe_fixed","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":330,"wires":[["fn_safe_controller_fixed"]]},{"id":"tick_safe_fixed","type":"inject","z":"tab_labos_safe_fixed","name":"Safety Check Every 10 Seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"5","topic":"lab/automation/internal/tick","payload":"tick","payloadType":"str","x":210,"y":380,"wires":[["fn_safe_controller_fixed"]]},{"id":"fn_safe_controller_fixed","type":"function","z":"tab_labos_safe_fixed","name":"Safe No-Flicker Controller","func":"const STABLE_READINGS = 3;\nconst FRESH_MS = 15000;\nconst ZERO_OFF_MS = 300000;\nconst MIN_CHANGE_MS = 8000;\nconst CONTROLLED = {2:'light2',3:'fan1',4:'fan3',6:'fan4',7:'light1',8:'fan2'};\nconst TOPICS = {2:'lab/control/relay2/set',3:'lab/control/relay3/set',4:'lab/control/relay4/set',6:'lab/control/relay6/set',7:'lab/control/relay7/set',8:'lab/control/relay8/set'};\nfunction m(topic,payload,retain=false){return {topic,payload:typeof payload==='string'?payload:JSON.stringify(payload),retain};}\nfunction send(commands,diagnostics){node.send([commands.length?commands:null,diagnostics.length?diagnostics:null]);}\nfunction clearZero(){context.set('zeroSince',0);}\nfunction desired(stage){const s={2:'OFF',3:'OFF',4:'OFF',6:'OFF',7:'OFF',8:'OFF'};if(stage==='ONE'){s[2]='ON';s[7]='ON';}else if(stage==='TWO_THREE'){s[2]='ON';s[7]='ON';s[3]='ON';s[6]='ON';}else if(stage==='FOUR_PLUS'){for(const r of Object.keys(s))s[r]='ON';}return s;}\nfunction stageFor(n){return n===0?'EMPTY':n===1?'ONE':n<4?'TWO_THREE':'FOUR_PLUS';}\nfunction healthy(now){const last=context.get('lastVision')||0;return context.get('serviceOnline')===true&&context.get('sourceHealthy')===true&&last>0&&now-last<=FRESH_MS;}\nfunction apply(stage,count,reason,now){const want=desired(stage),actual=context.get('actual')||{},last=context.get('lastCommand')||{},commands=[];for(const [relay,value] of Object.entries(want)){if(actual[relay]!==value&&last[relay]!==value){commands.push(m(TOPICS[relay],value,false));last[relay]=value;}}context.set('lastCommand',last);context.set('activeStage',stage);context.set('lastApply',now);context.set('pendingStage','');context.set('pendingReadings',0);send(commands,[m('lab/automation/intended_state',{publisher:'nodered-labos-safe',stage,count,relays:want,reason,timestamp:Math.floor(now/1000)},true),m('lab/automation/last_action',reason,true)]);node.status({fill:stage==='EMPTY'?'red':'green',shape:'dot',text:stage+' count='+count});}\nconst topic=String(msg.topic||''),now=Date.now(),diagnostics=[];\nif(topic==='lab/automation/mode'){const mode=String(msg.payload).trim().toLowerCase();if(!['manual','monitor','auto'].includes(mode))return null;context.set('mode',mode);if(mode!=='auto')clearZero();send([], [m('lab/automation/mode_state',mode,true)]);node.status({fill:mode==='auto'?'green':mode==='monitor'?'yellow':'blue',shape:'ring',text:mode+' mode'});return null;}\nif(topic==='lab/vision/status'){let v=String(msg.payload).toLowerCase();try{const o=typeof msg.payload==='object'?msg.payload:JSON.parse(String(msg.payload));v=String(o.status||v).toLowerCase();}catch(e){}context.set('serviceOnline',v==='online'||v==='healthy');if(v!=='online'&&v!=='healthy')clearZero();return null;}\nif(topic==='lab/vision/source_status'){const v=String(msg.payload).toLowerCase();context.set('sourceHealthy',v==='healthy');if(v!=='healthy')clearZero();return null;}\nif(topic==='lab/vision/heartbeat'){context.set('lastHeartbeat',now);return null;}\nif(topic==='lab/control/status'){context.set('relayOnline',String(msg.payload).toLowerCase()==='online');return null;}\nconst sm=topic.match(/^lab\\/control\\/relay([1-8])\\/state$/);if(sm){const relay=sm[1],actual=context.get('actual')||{};actual[relay]=String(msg.payload).toUpperCase();context.set('actual',actual);return null;}\nif(topic==='lab/automation/internal/tick'){const ok=healthy(now),last=context.get('lastVision')||0,mode=context.get('mode')||'manual',count=context.get('latestCount');diagnostics.push(m('lab/automation/vision_health',ok?'healthy':'stale',true));diagnostics.push(m('lab/automation/vision_age_seconds',last?Math.floor((now-last)/1000):-1,true));if(!ok){clearZero();send([],diagnostics);return null;}const zeroSince=context.get('zeroSince')||0;if(mode==='auto'&&count===0&&zeroSince&&now-zeroSince>=ZERO_OFF_MS){apply('EMPTY',0,'Healthy zero continuously confirmed for five minutes',now);return null;}send([],diagnostics);return null;}\nif(topic!=='lab/vision/people_count')return null;\nlet p=msg.payload;if(Buffer.isBuffer(p))p=p.toString();if(typeof p==='string'){try{p=JSON.parse(p);}catch(e){clearZero();send([],[m('lab/automation/warning','Invalid count JSON ignored; previous relay state preserved',false)]);return null;}}\nlet ts=Number(p&&p.timestamp);if(ts<100000000000)ts*=1000;const count=Number(p&&p.stable_count);if(!p||p.publisher!=='labvision-ai-pc'||p.source_healthy!==true||!Number.isInteger(count)||count<0||!Number.isFinite(ts)||Math.abs(now-ts)>FRESH_MS){clearZero();send([],[m('lab/automation/warning','Unauthorized, unhealthy, invalid, or stale count ignored; previous relay state preserved',false)]);return null;}\ncontext.set('lastVision',now);context.set('latestCount',count);context.set('sourceHealthy',true);const mode=context.get('mode')||'manual',target=stageFor(count),want=desired(target);diagnostics.push(m('lab/automation/accepted_count',{publisher:'nodered-labos-safe',count,target,timestamp:Math.floor(now/1000)},false));\nif(mode==='manual'){clearZero();send([],diagnostics);node.status({fill:'blue',shape:'ring',text:'manual count='+count});return null;}\nif(mode==='monitor'){clearZero();diagnostics.push(m('lab/automation/intended_state',{publisher:'nodered-labos-safe',stage:target,count,relays:want,timestamp:Math.floor(now/1000)},true));send([],diagnostics);node.status({fill:'yellow',shape:'ring',text:'monitor '+target+' count='+count});return null;}\nif(!healthy(now)){clearZero();send([],diagnostics);return null;}\nif(count===0){let zeroSince=context.get('zeroSince')||0;if(!zeroSince){zeroSince=now;context.set('zeroSince',zeroSince);}diagnostics.push(m('lab/automation/zero_shutdown_remaining_seconds',Math.max(0,Math.ceil((ZERO_OFF_MS-(now-zeroSince))/1000)),true));send([],diagnostics);node.status({fill:'yellow',shape:'ring',text:'healthy zero; OFF after 5 min'});return null;}\nclearZero();if(target===context.get('activeStage')){send([],diagnostics);return null;}let pending=context.get('pendingStage')||'',reads=context.get('pendingReadings')||0;if(target===pending)reads++;else{pending=target;reads=1;}context.set('pendingStage',pending);context.set('pendingReadings',reads);if(reads<STABLE_READINGS||now-(context.get('lastApply')||0)<MIN_CHANGE_MS){send([],diagnostics);node.status({fill:'yellow',shape:'ring',text:'checking '+target+' '+reads+'/'+STABLE_READINGS});return null;}apply(target,count,'Applied stable occupancy stage '+target,now);return null;","outputs":2,"timeout":0,"noerr":0,"initialize":"context.set('mode','manual'); context.set('zeroSince',0);","finalize":"context.set('zeroSince',0);","libs":[],"x":550,"y":210,"wires":[["out_relay_safe_fixed"],["out_diag_safe_fixed","debug_safe_fixed"]]},{"id":"out_relay_safe_fixed","type":"mqtt out","z":"tab_labos_safe_fixed","name":"AUTO Relay Commands (Non-Retained)","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"broker_labos_safe_fixed","x":880,"y":180,"wires":[]},{"id":"out_diag_safe_fixed","type":"mqtt out","z":"tab_labos_safe_fixed","name":"Automation Diagnostics","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"broker_labos_safe_fixed","x":840,"y":230,"wires":[]},{"id":"debug_safe_fixed","type":"debug","z":"tab_labos_safe_fixed","name":"Safe Automation Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":280,"wires":[]},{"id":"mode_out_safe_fixed","type":"mqtt out","z":"tab_labos_safe_fixed","name":"Publish Retained Mode","topic":"lab/automation/mode","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"broker_labos_safe_fixed","x":520,"y":470,"wires":[]},{"id":"default_manual_safe_fixed","type":"inject","z":"tab_labos_safe_fixed","name":"SAFETY: Default Manual on Deploy","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"manual","payloadType":"str","x":220,"y":440,"wires":[["mode_out_safe_fixed"]]},{"id":"manual_safe_fixed","type":"inject","z":"tab_labos_safe_fixed","name":"Set MANUAL Mode","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"manual","payloadType":"str","x":190,"y":480,"wires":[["mode_out_safe_fixed"]]},{"id":"monitor_safe_fixed","type":"inject","z":"tab_labos_safe_fixed","name":"Set MONITOR Mode","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"monitor","payloadType":"str","x":190,"y":520,"wires":[["mode_out_safe_fixed"]]},{"id":"auto_safe_fixed","type":"inject","z":"tab_labos_safe_fixed","name":"Set AUTO Mode (Supervised Only)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":220,"y":560,"wires":[["mode_out_safe_fixed"]]}]
